@media screen and (max-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #intro {
        width: 100vw;
        position: relative;
    }

    #bio {
        font-size: 4vw;
        line-height: 1.2;
    }

    .resume {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .portrait img {
        width: 50vw;
        height: 100vh;
        object-fit: cover;
        position: relative;
        z-index: -10;
    }

    #intro {
        width: 50vw;
        position: fixed;
    }

    #bio {
        font-size: 1.6vw;
    }

    .resume {
        width: 50vw;
        position: absolute;
        right: 0;
    }

    .text {
        padding: 1em;
    }

    .tint:hover:before { background: none; }
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF8E7;
    color: #000718;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

#intro {
    height: 100vh;
}

.portrait {
    height: 100vh;
    /* background-image: url("../resources/smallheadshot.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: 50% 50%; */
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

.section {
    padding-bottom: 2em;
    line-heigth: 3;
}

.entry {
    padding-bottom: 1em;
}

.entrytitle {
    font-family: "merriweather";
    font-weight: bold;
}

.subtitle {
    font-family: "merriweather";
    font-style: italic;
}

.detail {
    font-familiy: "merriweather";
    font-size: .9em;
    color: #737373;
}

.date {
    font-size: .8em;
    font-family: "open-sans";
    color: #737373;
}

.section h4 {
    font-family: "open-sans";
    text-transform: uppercase;
    color: #0068bf;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 1em;
}

.resume {
    text-align: left;
}

p {
    margin: 0;
    padding: 1em 0;
    position: relative;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#bio {
    color: white;
    text-shadow: 0 0 4px #000;
    position: absolute;
    width: 20em;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.highlight {
    font-style: italic;
    color: #BF5700;
}

.tint {
  position: relative;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 104, 191, 0.4);
  transition: all .3s linear;
}
