@media screen and (max-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #intro {
        width: 100vw;
        position: relative;
    }

    .portrait {
        width: 100vw;
    }

    #bio {
        font-size: 4vw;
        line-height: 1.2;
    }
}

@media screen and (min-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #intro {
        width: 50vw;
        position: fixed;
    }

    .portrait {
        width: 50vw;
    }

    #bio {
        font-size: 1.6vw;
    }

    .resume {
        margin-left: 50vw;
        width: 50vw;
    }
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF8E7;
    color: #000718;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

#intro {
    height: 100vh;
}

.portrait {
    height: 100vh;
    background-image: url("../resources/headshot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    padding: 1em 0;
    position: relative;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#bio {
    color: white;
    text-shadow: 0 0 4px #000;
    position: absolute;
    width: 20em;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.highlight {
    font-style: italic;
    color: #BF5700;
}

.tint {
  position: relative;
  margin-right: 20px;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 104, 191, 0.4);
  transition: all .3s linear;
}

.tint:hover:before { background: none; }
