@media screen and (max-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #intro {
        width: 100vw;
        position: relative;
    }

    #bio {
        font-size: 4vw;
        line-height: 1.2;
    }

    .portrait img {
        width: 100vw;
    }

    #resume {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-device-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #intro {
        visibility: hidden;
    }

    #intro, .portrait img {
        position: fixed;
    }

    #bio {
        font-size: 1.6vw;
    }

    #resume {
        position: absolute;
        width: 100vw;
        right: 0;
    }

    #resumetext {
        visibility: hidden;
    }

    #logo {
        /* box-shadow: 0px 0px 5px #fff; */
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: url(../resources/logo.png) center center no-repeat;
        background-size: 15vw;
    }

    .text {
        padding: 2.5em;
    }

    .tint:hover:before { background: none; }
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF5EE;
    color: #000718;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

#intro {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

.section {
    padding-bottom: 2em;
    line-heigth: 3;
}

.entry {
    padding-bottom: 1em;
}

.entrytitle {
    font-family: "merriweather";
    font-weight: bold;
    color: #04376a;
}

.subtitle {
    font-family: "merriweather";
    font-style: italic;
}

.detail {
    font-familiy: "merriweather";
    font-size: .9em;
    color: #737373;
}

.date {
    font-size: .8em;
    font-family: "open-sans";
    color: #737373;
}

.section h4 {
    font-family: "open-sans";
    text-transform: uppercase;
    color: #BF5700;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 1em;
}
    /* color: #0068bf; */
#resume {
    text-align: left;
}

p {
    margin: 0;
    padding: 1em 0;
    position: relative;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#bio {
    color: white;
    text-shadow: 0 0 4px #000;
    position: absolute;
    width: 20em;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.portrait img {
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: -10;
}


.highlight {
    font-style: italic;
    color: #BF5700;
}


.current-work {
    font-style: italic;
    color: #00b388;
}

.tint {
    height: 100vh;
    position: relative;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 104, 191, 0.4);
  transition: all .3s linear;
}

.noscroll {
    overflow-y: hidden;
    overflow-x: hidden;
}


.slide-to-right {
    animation-name: slide-to-right;
    animation-duration: 1s;
    width: 50vw;
    z-index: -99;
}

@keyframes slide-to-right {
    from {width: 0vw;}
    to {width: 50vw;}
}

.push-to-right {
    animation-name: push-to-right;
    animation-duration: 1s;
}

@keyframes push-to-right {
    from {width: 100vw;}
    to {width: 50vw;}
}

.grow-text {
    animation-name: grow-text;
    animation-duration: 1s;
}

@keyframes grow-text {
    from {font-size: 0vw;}
    to {font-size: 1.6vw;}
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
}

@keyframes fade-out {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.bobbing {
    animation-name: bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes bobbing {
  0% {
   transform: translate(0px, 4.5px) rotateZ(0.001deg);
   animation-timing-function:ease-in-out
  }
  50% {
    transform: translate(0px, -4.5px) rotateZ(0.001deg);
    animation-timing-function:ease-in-out
  }
  100% {
   transform: translate(0px, 4px) rotateZ(0.001deg);
   animation-timing-function:ease-in-out
  }
}
