@media screen and (max-device-width: 60em) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  #intro {
    width: 100%;
    position: relative;
  }

  #bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row: 1;
    font-size: 1em;
    line-height: 1.2;
  }

  .portrait img {
    width: 100vw;
  }

  #resume {
    margin: 0 10%;
  }

  .arrows {
    visibility: visible;
    grid-row: 3;
  }

  .section.split {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .section.split .title {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }

  .entrywrapper {
    grid-row: 2;
    grid-column: 1;
  }

  .entry {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom-color: rgb(215, 215, 215);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1em;
  }

  .entry:last-child {
    border-bottom-style: none;
  }

  .entry.haslogo {
    grid-template-rows: 5em auto;
  }

  .entry .entrylogo {
    grid-row: 1;
    grid-column: 1;
    background-size: contain;
    background-position: left center;
    margin-bottom: 1em;
  }

  .entry .entrycontent {
    grid-row: 1;
    grid-column: 1;
  }

  .entry.haslogo .entrycontent {
    grid-row: 2;
  }
}

@media screen and (min-device-width: 60em) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  #intro {
    position: fixed;
    visibility: hidden;
    width: calc(1 / calc(1 + 2) * 100vw);
  }

  #bio {
    grid-row: 3;
    font-size: 1.6em;
  }

  #resume {
    grid-column: 2;
  }

  #resumetext {
    margin-left: 5%;
    margin-right: 5%;
    visibility: hidden;
  }

  #logo {
    position: absolute;
    top: 50vh;
    left: 50%;
    margin-top: calc(-15vw / 2);
    margin-left: calc(-15vw / 2);
    width: 15vw;
    height: 15vw;
    background: center / contain no-repeat url("./logo.png");
  }

  .text {
    padding: 2.5em;
  }
  .arrows {
    visibility: hidden;
    grid-row: none;
  }

  .section.split {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
  }

  .section.split .title {
    grid-row: 1;
    grid-column: 2;
  }

  .entrywrapper {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .entry {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
  }

  .entry .entrylogo {
    grid-column: 1;
    grid-row: 1;
    background-size: 80%;
    background-position: center top;
  }

  .entry .entrycontent {
    grid-column: 2;
    grid-row: 1;
  }
}

body {
  margin: 0;
  font-family: Ubuntu, Roboto, sans-serif;
  background: #fff5ee;
  color: #000718;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#intro {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
}

.entry {
  display: grid;
  padding-bottom: 1em;
}

.section.about {
  text-align: center;
}

.hpelogo {
  background: no-repeat url("./logos/hpe.svg");
}

.gallologo {
  background: no-repeat url("./logos/gallo.svg");
}

.riguplogo {
  background: no-repeat url("./logos/rigup.webp");
}

.utlogo {
  background: no-repeat url("./logos/ut.svg");
}

.entrytitle {
  font-family: Ubuntu, Roboto, sans-serif;
  font-weight: 600;
  color: #04376a;
}

.subtitle {
  font-family: Ubuntu, Roboto, sans-serif;
  font-style: italic;
}

.detail {
  font-family: Ubuntu, Roboto, sans-serif;
  font-size: 0.9em;
  color: #434343;
}

.date {
  font-family: Ubuntu, Roboto, sans-serif;
  font-size: 0.8em;
  color: #737373;
}

.section {
  padding-bottom: 2em;
}

.section .title {
  padding-bottom: 0.3em;
  font-size: 2.28rem;
  font-family: Ubuntu, Roboto, sans-serif;
  color: #bf5700;
  font-weight: 400;
}

.section.about .title {
  font-size: 3.28rem;
}

#resume {
  position: relative;
  text-align: left;
}

p {
  margin: 0;
  padding: 1em 0;
  position: relative;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#bio {
  color: white;
  text-shadow: 0 0 4px #000;
  padding: 0 1em;
}

.portrait::before {
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px,
    inset 100vw 100vh rgba(0, 104, 191, 0.4);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: center center / cover no-repeat url("./headshot.jpg");
  transition: box-shadow 0.3s linear;
}

.portrait:hover::before {
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px,
    inset 100vw 100vh rgba(0, 104, 191, 0);
}

.highlight {
  font-style: italic;
  color: #bf5700;
}

.current-work {
  font-style: italic;
  color: #bf5700;
}

.noscroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.grow-text {
  animation-name: grow-text;
  animation-duration: 1s;
}

@keyframes grow-text {
  from {
    font-size: 0;
  }

  to {
    font-size: 1.6em;
  }
}

.expand-right {
  animation: 1s linear forwards expand-right;
}

@keyframes expand-right {
  from {
    width: 0;
  }

  to {
    width: calc(1 / 3 * 100vw);
  }
}

.shrink-right {
  animation: 1s linear forwards shrink-right;
}

@keyframes shrink-right {
  from {
    width: 100vw;
  }

  to {
    width: calc(2 / 3 * 100vw);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s, bobbing 2s infinite running;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.bobbing {
  animation-name: bobbing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes bobbing {
  0% {
    transform: translate(0, 4.5px) rotateZ(0.001deg);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(0, -4.5px) rotateZ(0.001deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0, 4px) rotateZ(0.001deg);
    animation-timing-function: ease-in-out;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #bf5700;
  fill: transparent;
  stroke-width: 2px;
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  animation-delay: -1s;
}

.arrows path.a2 {
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  animation-delay: -0.5s;
}

.arrows path.a3 {
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  animation-delay: 0s;
}
